<html>
<head>
    {% block head %}
    <title>{{ account.username }} profile</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/accounts-style.css">
    <meta name="description" content="{{username}}'s profile">
    {% endblock %}
</head>
<body>
{% include 'navbar.html' %}
{% block body %}
<div class="block" style="margin-top: 3%;">
    <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 10px;">
        <div style="display: flex; flex-direction: row; margin-right: 10px;">
            <img style="display: block;" src="{{ account.pfp }}">
            <div>
                <h1 class="username">{{account.username}}</h1>
                <div id="tags"></div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <h2 class="about">{{ account.about|safe }}</h2>
        </div>
    </div>
    <script>
        const tags = {{ account.tags | safe }};
        const tagsContainer = document.getElementById('tags');
        const typePriority = {
            "gd": 1,
            "dev": 2,
            "unique": 3,
            "rare": 4,
            "event": 5
        };
        const userStatusTag = {
            "account": {{ account.id }},
            "id": 1,
            "title": "{{ account.status }}",
            "type": "{{ account.status }}"
        }


        const sortedTags = tags.sort((a, b) => {
            const priorityA = typePriority[a.type] || 100;
            const priorityB = typePriority[b.type] || 100;

            return priorityA - priorityB;
        });


        function addTag(tag) {
            const tagElement = document.createElement('span');
            tagElement.classList.add('tag');
            if (tag.type) {
                tagElement.classList.add(`tag-${tag.type}`);
            }
            tagElement.textContent = tag.title;
            tagsContainer.appendChild(tagElement);
        }

        if (userStatusTag.type === "restricted") addTag(userStatusTag);
        sortedTags.forEach((tag) => {
            addTag(tag);
        });
    </script>
</div>
{% if account.has_gq or account.gq_scores | length > 0 %}
<div id="gq-data" class="block">
    <h1>Gentrys Quest</h1>
    <div id="gq-scores">
        <div id="leaderboard-container">
            <h1 style="text-align: center; font-size: 24px; margin-bottom: 20px;">Scores</h1>
            <select id="leaderboard-toggle" style="margin: 10px auto; display: block;" onchange="renderLeaderboard()"></select>
            <div id="leaderboard-list" class="leaderboard-list"></div>
        </div>
    </div>
    <script>
        const leaderboardData = {{ account.gq_scores | safe }};

        function initializeLeaderboard() {
            const dropdown = document.getElementById('leaderboard-toggle');
            for (const leaderboardName of Object.keys(leaderboardData)) {
                const option = document.createElement('option');
                option.value = leaderboardName;
                option.textContent = leaderboardName;
                dropdown.appendChild(option);
            }
            renderLeaderboard();
        }

        function renderLeaderboard() {
            const selectedLeaderboard = document.getElementById('leaderboard-toggle').value;
            const scores = leaderboardData[selectedLeaderboard];
            const leaderboardList = document.getElementById('leaderboard-list');
            leaderboardList.innerHTML = '';
            if (scores) {
                scores.sort((a, b) => b.score - a.score).forEach((entry, index) => {
                    const item = document.createElement('div');
                    item.className = 'leaderboard-entry';
                    item.innerHTML = `
                    <div class="rank">${index + 1}</div>
                    <div class="score">${entry.score.toLocaleString()}</div>
                `;
                    leaderboardList.appendChild(item);
                });
            }
        }

        document.addEventListener('DOMContentLoaded', initializeLeaderboard);
    </script>
</div>
{% endif %}
{% if account.has_osu %}
<div id="osu-data" class="block">
    <h1>OSU!</h1>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-bottom: 10px; margin-top: 10px;">
        <div style="display: flex; flex-direction: row;">
            <img src="https://a.ppy.sh/{{ account.osu_id }}">
            <div style="display: flex; flex-direction: column; margin-left: 10px;">
                <h2 style="margin-bottom: 0;"><a href="https://osu.ppy.sh/users/{{ account.osu_id }}" target="_blank">{{
                    account.osu_data.username }}</a></h2>
                <h2>#{{ "{:,}".format(account.osu_data.rank) }}</h2>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; margin-left: 10px;">
            <h2 style="margin-bottom: 0;">{{ "{:,}".format(account.osu_data.score) }} score</h2>
            <h2 style="margin-bottom: 0;">{{ "{:,}".format(account.osu_data.playcount) }} plays</h2>
            <h2 style="margin-bottom: 0;">{{ "{:,}".format(account.osu_data.accuracy) }} accuracy</h2>
            <h2 style="margin-bottom: 0;">{{ "{:,}".format(account.osu_data.performance) }} pp</h2>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
</body>
</html>
