bcrypt==4.1.2
Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-SocketIO==5.3.6
requests==2.32.0
pyopenssl==24.0.0
psycopg2==2.9.10
python-dotenv==1.0.1
GPSystem @ git+https://github.com/GDcheerios/GPSystem.git
PSQLConnection @ git+https://github.com/GDcheerios/PSQLConnection
