<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Vinny Craft</title>
</head>
<body>
    <h1>Vinny Craft</h1>
    <h2>The best modpack in the world</h2>
    <h3>join with <a>vinnycraft.gdcheerios.com</a></h3>
    <h3>download from <a target="_blank" href="https://github.com/GDcheerios/VinnyCraft">the github</a></h3>
    <hr style="height: 1px; background-color: black;">
    <h2>Details</h2>
    <h3>Unable to receive player information...</h3>
</body>
</html>