<html>
    <head>
        {% block head %}
        <title>Gentry's Quest</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/gentrys-quest-style.css">
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block body %}
        <h1 class="block" style="font-size: 350%;">Gentry's Quest</h1>
        <div style="display: flex; flex-direction: row; justify-content: space-evenly; text-align: center;">
            <div id="top-players">
                <h1>Top Players</h1>
                {% set count = namespace(value=1) %}
                {% for player in get_top_players(amount=5) %}
                    <div class="score-card">
                        <div class="rank-badge" style="background-color: {{ rater.rating_colors[player.rank] }};">
                            <span>{{ count.value }}</span>
                        </div>
                        <div class="score-details">
                            <div class="player-name">
                                {{ player.username }}
                            </div>
                            <div class="player-score">
                                {{ "{:,}".format(player.weighted|int) }} GP
                            </div>
                        </div>
                    </div>
                {% set count.value = count.value + 1 %}
                {% endfor %}
            </div>
            <div id="event-leaderboard">
                <h1>Event Leaderboard</h1>
                {% set count = namespace(value=1) %}
                {% for player in get_leaderboard(id=3, amount=5) %}
                    <div class="score-card">
                        <div class="rank-badge" style="background-color: {{ rater.rating_colors[player.rank] }};">
                            <span>{{ count.value }}</span>
                        </div>
                        <div class="score-details">
                            <div class="player-name">
                                {{ player.username }}
                            </div>
                            <div class="player-score">
                                {{ "{:,}".format(player.score|int) }} score
                            </div>
                        </div>
                    </div>
                {% set count.value = count.value + 1 %}
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </body>
</html>