<html>
  <head>
    {% block head %}
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/gentrys-quest-style.css">
    {% endblock %}
  </head>
  <body style="background-color: black;">
    {% include 'navbar.html' %}
    {% block body %}
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h1 style="font-size: 300%;">Gentry's Quest Leaderboard</h1>
    	  	{% for player in players %}
                <div class="score-card"
                     {% if player["you"] %}style="border: 3px solid {{ rater.rating_colors[player["rank"]] }}; box-shadow: 0 0 15px rgba(102, 126, 234, 0.5);"{% endif %}>
                    <div class="rank-badge" style="background-color: {{ rater.rating_colors[player["rank"]] }};">
                        #{{ player["placement"] }}
                    </div>
                    <div class="score-details">
                        <div class="player-name">
                            {{ player["username"] }}{% if player["you"] %}
                                <span style="color: {{ rater.rating_colors[player["rank"]] }}; font-weight: bold;">(You)</span>{% endif %}
                        </div>
                        <div class="player-score">
                            {{ "{:,}".format(player["weighted"]|int) }} GP
                        </div>
                    </div>
                </div>
    	  	{% endfor %}
        </div>
  	{% endblock %}
  </body>
</html>