<html>
  <head>
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/gentrys-quest-style.css">
    <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5675992934458479"
            crossorigin="anonymous"></script>
    {% endblock %}
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block body %}
    <div class="block">
      <h1>Welcome to GDcheerios.com</h1>
      <h2>Currently being worked on!</h2>
    </div>
    <div class="block">
      <div>
        <h1 style="font-size: 95%;">Join the discord?</h1>
        <div style="display: flex; justify-content: center;">
          <iframe src="https://discord.com/widget?id=998580472177234001&theme=dark" width="500" height="600" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
      </div>
      <div>
        <h1>Support the development</h1>
        <h3 style="margin-left: 20%; margin-right: 20%; ">
          I appreciate your visit to my website! If you find my content valuable and would like to support my efforts, consider making a donation. Your contributions help me continue to update content and improve my services. Every little bit helps, and I am grateful for your support.
        </h3>
        <h4>Thank you for considering a <a style="font-size: 100%;" href="https://www.paypal.com/donate/?business=4ZTHQTG8PGNB4&no_recurring=1&item_name=Thanks+a+ton+for+the+support%21&currency_code=USD" target="_blank">donation</a>!</h4>
      </div>
    </div>
    <script>
      window.addEventListener('scroll', () => {
        const threshold = 700;
        const scrollY = window.scrollY;

        if (scrollY > threshold) {
          const maxScrollableHeight = document.body.scrollHeight - window.innerHeight;
          const normalizedScroll = (scrollY - threshold) / (maxScrollableHeight - threshold);

          const red = Math.max(17, 127 - Math.floor(normalizedScroll * 127));
          const green = Math.max(17, 127 - Math.floor(normalizedScroll * 127));
          const blue = Math.max(17, 127 - Math.floor(normalizedScroll * 127));

          document.body.style.backgroundColor = `rgb(${red}, ${green}, ${blue})`;
        }
        else document.body.style.backgroundColor = `#7f7f7f`;
      });
    </script>
    {% endblock %}
  </body>
</html>
