<html>
  <head>
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/gentrys-quest-style.css">
    <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5675992934458479"
            crossorigin="anonymous"></script>
    {% endblock %}
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block body %}
    <div class="block">
      <h1>Welcome to GDcheerios.com</h1>
      <div class="main-choice">
        <a href="/gentrys-quest" id="gentrys-quest" class="choice-selection">
          <h1>Gentry's</h1>
          <h1>Quest</h1>
        </a>
        <hr>
        <a href="/osu" id="osu" class="choice-selection">
          <h1>Osu</h1>
          <h1>Score Farm</h1>
        </a>
      </div>
    </div>
    <div style="margin-top: 150vh;"></div>
    <h1 class="category-header">
      leaderboards
    </h1>
    <div style="display: flex; justify-content: space-between; margin-left: 20%; margin-right: 20%;">
      <div style="display: flex; flex-direction: column">
        <h1 class="category-header">Rankings</h1>
        <div id="ranking-leaderboard">
          {% if rankings != None %}
            {% for user in rankings %}
              <div class="score-card">
                <div class="rank-badge" style="background-color: {{ rater.rating_colors[user[3]] | safe }};">
                  <span>#{{ loop.index }}</span>
                </div>
                <div class="score-details">
                  <p class="player-name">{{user[1]}}</p>
                  <p class="player-score">{{user[2]}} GP</p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div style="display: flex; flex-direction: column">
        <h1 class="category-header">Weekly Event</h1>
        <div id="weekly-event">
          {% if weekly_event != None %}
            {% for user in weekly_event %}
            <div class="score-card">
              <div class="rank-badge">
                <span>#{{ user["placement"] }}</span>
              </div>
              <div class="score-details">
                <p class="player-name">{{user["username"]}}</p>
                <p class="player-score">{{user["score"]}} score</p>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="block">
      <div>
        <h1 style="font-size: 95%;">Join the discord?</h1>
        <div style="display: flex; justify-content: center;">
          <iframe src="https://discord.com/widget?id=998580472177234001&theme=dark" width="500" height="600" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
      </div>
      <div>
        <h1>Support the development</h1>
        <h3 style="margin-left: 20%; margin-right: 20%; ">
          I appreciate your visit to my website! If you find my content valuable and would like to support my efforts, consider making a donation. Your contributions help me continue to update content and improve my services. Every little bit helps, and I am grateful for your support.
        </h3>
        <h4>Thank you for considering a <a style="font-size: 100%;" href="https://www.paypal.com/donate/?business=4ZTHQTG8PGNB4&no_recurring=1&item_name=Thanks+a+ton+for+the+support%21&currency_code=USD" target="_blank">donation</a>!</h4>
      </div>
    </div>
    <script>
      window.addEventListener('scroll', () => {
        const threshold = 700;
        const scrollY = window.scrollY;

        if (scrollY > threshold) {
          const maxScrollableHeight = document.body.scrollHeight - window.innerHeight;
          const normalizedScroll = (scrollY - threshold) / (maxScrollableHeight - threshold);

          const red = Math.max(17, 127 - Math.floor(normalizedScroll * 127));
          const green = Math.max(17, 127 - Math.floor(normalizedScroll * 127));
          const blue = Math.max(17, 127 - Math.floor(normalizedScroll * 127));

          document.body.style.backgroundColor = `rgb(${red}, ${green}, ${blue})`;
        }
        else document.body.style.backgroundColor = `#7f7f7f`;
      });
    </script>
    {% endblock %}
  </body>
</html>
