<div class="nav-bar">
  <nav>
    <h1 id="thecom">GDcheerios.com</h1>
    <ul>
      
      <!-- Main dropdown -->
      <li class="dropdown">
        <a href="/">Main</a>
        <ul class="dropdown-content">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
            <li><a href="/supporter">Support</a></li>
            <li><a href="/status">Status</a></li>
            <li><a href="https://github.com/GDcheeriosYT/website-project" target="_blank">GitHub</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/gentrys-quest">Gentry's Quest</a>
        <ul class="dropdown-content">
          <li><a href="/gentrys-quest/leaderboard">Leaderboard</a></li>
          <li><a href="/gentrys-quest/levels">Levels</a></li>
          <li><a href="/gentrys-quest/ranking">Ranking</a></li>
          <li><a href="https://gentrysquestshop.printify.me/" target="_blank">Merch</a></li>
        </ul>
      </li>
<!--      <li><a href="/osu">Osu</a></li>-->

      <!-- Osu dropdown -->
      <li class="dropdown">
        <a href="/osu">Osu</a>
        <ul class="dropdown-content">
        </ul>
      
      <li><a href="/search">Search</a></li>

      <!-- Account dropdown -->
      <li class="dropdown">
        {% if request.cookies.get('session') != None %}
          <a href="/account">Profile</a>
          <ul class="dropdown-content">
            <li><a href="/account/signout">Sign Out</a></li>
          </ul>
        {% else %}
          <a href="/account">Log In</a>
          <ul class="dropdown-content">
            <li><a href="/account/create">Create Account</a></li>
          </ul>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>
<script>
  const nameEl = document.getElementById('thecom');
  if (Math.floor(Math.random() * 100) < 20) {
      nameEl.innerHTML = "GDcheeriosDotCom";
  }

  document.querySelectorAll('.dropdown-content').forEach(function (content) {
    content.style.display = 'none';
  });

  document.querySelectorAll('.dropdown').forEach(function (dropdown) {
    dropdown.addEventListener('mouseenter', function () {
      this.querySelector('.dropdown-content').style.display = 'block';
    });

    dropdown.addEventListener('mouseleave', function () {
      this.querySelector('.dropdown-content').style.display = 'none';
    });
  });

  document.addEventListener('keydown', function (event) {
    if ((event.ctrlKey && event.key === 'k') || event.key === '/') {
      event.preventDefault();
      window.location.href = '/search';
    }
  });

</script>