name: Cloud Run Deployment

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: gdcheerioscom
  PROD_SERVICE: website-project
  DEV_SERVICE: gdcheerioscom
  REGION: us-central1

jobs:
  Production:
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2.1.3'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Deploy prod to Cloud Run
        id: deploy1
        uses: google-github-actions/deploy-cloudrun@v2.6.0
        with:
          service: ${{ env.PROD_SERVICE }}
          region: ${{ env.REGION }}
          source: ./

      - name: Show Output
        run: echo ${{ steps.deploy1.outputs.url }}
